body{
background:#07121b;
font-family:Arial;
color:white;
margin:0;
}

.container{
width:90%;
margin:auto;
padding:30px;
}

h1{
text-align:center;
color:#00ffd5;
}

.panel{
background:#0c1b29;
padding:25px;
border-radius:10px;
margin-bottom:40px;
}

label{
font-size:14px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:5px;
border:none;
background:#091520;
color:white;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

button{
width:100%;
padding:15px;
background:#00ffd5;
border:none;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00c5a5;
}

.result{
margin-top:20px;
padding:20px;
border-radius:10px;
text-align:center;
}

.hidden{
display:none;
}

.fraud{
background:#2b0000;
color:#ff4d4d;
}

.normal{
background:#002b1a;
color:#00ff9c;
}

table{
width:100%;
border-collapse:collapse;
background:#0c1b29;
}

th,td{
padding:12px;
text-align:center;
border-bottom:1px solid #123;
}

tr:hover{
background:#112233;
}